@use 'sass:color';

.page {
  padding-top: 200px;
  background-color: #edf2f4;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #803d78;
    margin-bottom: 1.5rem;
  }
}
